* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif
}

body{
    background-color: navy;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 100%;
}

.sec-containers{
    display: block;
    background-color: white;
    width: 300px;
    height: 500px;
}

.coffeecontainer{
    display: flex;
    justify-content: center;
    color: black;
}