* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Times New Roman', Times, serif
}

body{
    background-color: navy;
}

.container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 700px;
    width: 100%;
}

.sec-containers{
    display: block;
    background-color: white;
    width: 300px;
    height: 500px;
}

.coffeecontainer{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    color: black;
    height: 150px;
}

.coffeecontainer button{
    height: 50px;
    width:70px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;;
}

button:hover{
    background-color:bisque;
}

#factDisplay{
    width:800px;
    height: 150px;
    background-color:white;
}